astroid==2.11.2
autopep8==1.6.0
colorama==0.4.4
dill==0.3.4
flake8==4.0.1
importlib-metadata==4.11.3
isort==5.10.1
jedi==0.17.2
lazy-object-proxy==1.7.1
mccabe==0.6.1
parso==0.7.1
platformdirs==2.5.1
pluggy==1.0.0
pycodestyle==2.6.0
pydocstyle==6.1.1
pyflakes==2.2.0
pylint==2.13.4
PySide2==5.15.2.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.4.1
rope==0.23.0
shiboken2==5.15.2.1
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.2
typing-extensions==4.1.1
ujson==5.1.0
wrapt==1.14.0
yapf==0.32.0
zipp==3.7.0
